@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme] {
    display: none;
}

[data-theme-loaded] {
    display: block;
}

@layer base {
    :root {
        --background: 245, 243, 240;
        --input: 255, 255, 255;
        --input-border: 209, 213, 219;
        --primary: 51, 128, 204;
        --secondary: 232, 223, 202;
        --validation: 71, 133, 72;
        --info: 71, 96, 133;
        --error: 191, 64, 64;
        --text-color: 0, 0, 0;
        --text-reverse: 255, 255, 255;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: 5, 12, 18;
            --input: 33, 51, 67;
            --input-border: 33, 51, 67;
            --primary: 51, 128, 204;
            --secondary: 232, 223, 202;
            --validation: 71, 133, 72;
            --info: 71, 96, 133;
            --error: 191, 64, 64;
            --text-color: 255, 255, 255;
            --text-reverse: 0, 0, 0;
        }
    }

    :root[data-theme="light"] {
        --background: 245, 243, 240;
        --input: 255, 255, 255;
        --input-border: 209, 213, 219;
        --primary: 51, 128, 204;
        --secondary: 232, 223, 202;
        --validation: 71, 133, 72;
        --info: 71, 96, 133;
        --error: 191, 64, 64;
        --text-color: 0, 0, 0;
        --text-reverse: 255, 255, 255;
    }

    :root[data-theme="dark"] {
        --background: 5, 12, 18;
        --input: 33, 51, 67;
        --input-border: 33, 51, 67;
        --primary: 51, 128, 204;
        --secondary: 232, 223, 202;
        --validation: 71, 133, 72;
        --info: 71, 96, 133;
        --error: 191, 64, 64;
        --text-color: 255, 255, 255;
        --text-reverse: 0, 0, 0;
    }
}



* {
    font-family: "Outfit", sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
}

::selection {
    background-color: theme("colors.primary");
    color: white;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: theme("colors.primary");
    transition: width 0.3s;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #3380cc;
}

input:checked+.slider:before {
    transform: translateX(14px);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.no-outline:focus {
    outline: none;
    box-shadow: none;
}

.no-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari et Opera */
}